<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT layout12Cols ANY>
<!ATTLIST layout12Cols id ID #REQUIRED>
<!ELEMENT layout39Cols ANY>
<!ATTLIST layout39Cols id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT layout93Cols ANY>
<!ATTLIST layout93Cols id ID #REQUIRED>
<!ELEMENT layout363Cols ANY>
<!ATTLIST layout363Cols id ID #REQUIRED>
<!ELEMENT intermediateCategory ANY>
<!ATTLIST intermediateCategory id ID #REQUIRED>
<!ELEMENT productCategory ANY>
<!ATTLIST productCategory id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT carousel ANY>
<!ATTLIST carousel id ID #REQUIRED>
<!ELEMENT carouselItem ANY>
<!ATTLIST carouselItem id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT widget ANY>
<!ATTLIST widget id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1080" key="10ca723f-b6ba-4429-94fd-26244a5cd89f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-23T13:24:19" updateDate="2017-08-07T17:23:12" nodeName="Start page" urlName="start-page" path="-1,1080" isDoc="" nodeType="1074" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1073" nodeTypeAlias="startPage">
    <headerFormat><![CDATA[banner_lg]]></headerFormat>
    <pageTitle><![CDATA[Start page]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.7441860465116279,
    "top": 0.060465116279069767
  },
  "src": "/media/1020/desktop-high-definition-wallpaper-nature.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111069,
        "x2": 6.3159354289786646E-16,
        "y2": 0.30388888888888932
      }
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111111,
        "x2": 0,
        "y2": 0.46013888888888888
      }
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.084761904761904761,
        "x2": 6.3159354289786646E-16,
        "y2": 0.60273809523809541
      }
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.062499999999999965,
        "x2": 6.3159354289786646E-16,
        "y2": 6.0632980118195174E-16
      }
    }
  ]
}]]></headerPicture>
    <carousel id="1144" key="0d63502f-a729-4ca5-bd4a-b903fc738ca7" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2017-07-26T21:02:59" updateDate="2017-07-26T21:15:48" nodeName="Main Carousel" urlName="main-carousel" path="-1,1080,1144" isDoc="" nodeType="1109" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="carousel">
      <myCarousel><![CDATA[[{"name":"Top-quality kitchen appliances","ncContentTypeAlias":"carouselItem","image":"umb://media/61b3a9d438784634983e2b4d0716d61d","title":"Top-quality kitchen appliances","link":"umb://document/bb8b09640c6d4d9e98e6a8836c8f7e94"},{"name":"Cool plumbing for everyone","ncContentTypeAlias":"carouselItem","image":"umb://media/bb283a16c221426c9bcb88135f41b8f9","title":"Cool plumbing for everyone","link":"umb://document/75b60ef5b09349e8b89cfb05febbe16b"},{"name":"Brand-new computers","ncContentTypeAlias":"carouselItem","image":"umb://media/c16012f0fd7e4528a28bb1e767689d38","title":"Brand-new computers","link":"umb://document/9201f017484c43178b59ee0f95ccdf81"}]]]></myCarousel>
    </carousel>
  </startPage>
  <categories id="1094" key="e2190e31-6338-4a81-8d80-4c4fde72bca3" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-23T14:53:22" updateDate="2017-08-07T17:28:28" nodeName="Root categories" urlName="root-categories" path="-1,1094" isDoc="" nodeType="1092" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1091" nodeTypeAlias="categories">
    <headerFormat><![CDATA[banner_md]]></headerFormat>
    <pageTitle><![CDATA[Categories]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.57558139534883723,
    "top": 0.627906976744186
  },
  "src": "/media/1021/desktop-high-definition-wallpaper-nature.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300
    }
  ]
}]]></headerPicture>
    <intermediateCategory id="1118" key="74a4d11c-132c-4123-ab78-927311c556e7" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2017-07-25T10:30:44" updateDate="2017-08-08T12:14:45" nodeName="Home Appliances" urlName="home-appliances" path="-1,1094,1118" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
      <pageTitle><![CDATA[Home appliances]]></pageTitle>
      <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
      <banner><![CDATA[umb://media/61b3a9d438784634983e2b4d0716d61d]]></banner>
      <productCategory id="1146" key="7ff5c837-acf7-42ad-a7df-4235e047ca59" parentID="1118" level="3" creatorID="0" sortOrder="3" createDate="2017-07-29T11:16:26" updateDate="2017-08-08T12:26:06" nodeName="Crockery" urlName="crockery" path="-1,1094,1118,1146" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <pageTitle><![CDATA[Crockery]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      },
      {
        "value": "Black"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": "Arcopal"
      },
      {
        "value": "Lora"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Country"
      },
      {
        "value": "Ukraine"
      },
      {
        "value": "USA"
      },
      {
        "value": "UK"
      },
      {
        "value": "Australia"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": "Porcelain"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <banner><![CDATA[umb://media/f63f4a41576e435db39b0b0c45e0d81a]]></banner>
        <product id="1150" key="ba63b556-6313-4e62-92b5-938ad9f3f618" parentID="1146" level="4" creatorID="0" sortOrder="0" createDate="2017-07-29T11:25:11" updateDate="2017-08-07T16:52:42" nodeName="Luminarc Plates" urlName="luminarc-plates" path="-1,1094,1118,1146,1150" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Luminarc Plates]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"},{"name":"Item 2","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"discount","widgetTitle":"Discount (%)","customWidgetDisplayType":"Single string"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <price>100</price>
          <inStock>15</inStock>
          <discount>0</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Black"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Very high-quality plates produced by a well-known brand, which can bring warmth and comfort to your routine household affairs]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/00899ffe7b214128b8a5152b1c3c3388","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/f63f4a41576e435db39b0b0c45e0d81a","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/78c9d42cf2744005897f625c6bbdceb1","title":"","link":""},{"name":"Broccoli","ncContentTypeAlias":"carouselItem","image":"umb://media/ef429ae7c48543928452615045b6c5eb","title":"Broccoli","link":""}]]]></carousel>
          <comment id="1171" key="84e458e8-65f2-44f7-942b-016b62c702d2" parentID="1150" level="5" creatorID="0" sortOrder="1" createDate="2017-08-10T16:04:25" updateDate="2017-08-10T16:04:25" nodeName="F_10.08.2017 13:04:25" urlName="f_10082017-130425" path="-1,1094,1118,1146,1150,1171" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>1</estimate>
            <senderName><![CDATA[E]]></senderName>
            <senderEmail><![CDATA[F]]></senderEmail>
            <messageText><![CDATA[A]]></messageText>
            <disadvantages><![CDATA[C]]></disadvantages>
            <advantages><![CDATA[B]]></advantages>
          </comment>
          <comment id="1172" key="db68781a-fe82-46f2-a6cc-7a0cdfc932d1" parentID="1150" level="5" creatorID="0" sortOrder="2" createDate="2017-08-10T16:04:38" updateDate="2017-08-10T16:04:38" nodeName="c_10.08.2017 13:04:38" urlName="c_10082017-130438" path="-1,1094,1118,1146,1150,1172" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <senderName><![CDATA[b]]></senderName>
            <senderEmail><![CDATA[c]]></senderEmail>
            <messageText><![CDATA[a]]></messageText>
          </comment>
          <comment id="1174" key="432978ea-7cd1-4e81-b634-6022734d55b6" parentID="1150" level="5" creatorID="0" sortOrder="3" createDate="2017-08-10T16:32:58" updateDate="2017-08-10T16:32:58" nodeName="V_10.08.2017 13:32:49" urlName="v_10082017-133249" path="-1,1094,1118,1146,1150,1174" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T16:32:52.9752158</addingTime>
            <senderName><![CDATA[B]]></senderName>
            <senderEmail><![CDATA[V]]></senderEmail>
            <messageText><![CDATA[A]]></messageText>
          </comment>
          <comment id="1175" key="fc66c7ff-a1a5-47c7-af05-f86382971f99" parentID="1150" level="5" creatorID="0" sortOrder="4" createDate="2017-08-10T16:46:06" updateDate="2017-08-10T17:04:24" nodeName="ystetskyy333@gmail.com_10.08.2017 13:46:06" urlName="ystetskyy333-gmailcom_10082017-134606" path="-1,1094,1118,1146,1150,1175" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T16:46:06</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Cool]]></messageText>
            <response><![CDATA[Hello! Quite a good question]]></response>
          </comment>
          <comment id="1176" key="30141f2c-d282-423c-8bb0-d5ba4ca6cd60" parentID="1150" level="5" creatorID="0" sortOrder="5" createDate="2017-08-10T16:46:18" updateDate="2017-08-10T16:46:18" nodeName="Yura_10.08.2017 13:46:18" urlName="yura_10082017-134618" path="-1,1094,1118,1146,1150,1176" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T16:46:18.8613098</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[Yura]]></senderEmail>
            <messageText><![CDATA[Yura]]></messageText>
          </comment>
          <comment id="1177" key="4a52e128-e02f-4cb5-b93b-e416567640cb" parentID="1150" level="5" creatorID="0" sortOrder="6" createDate="2017-08-10T16:46:46" updateDate="2017-08-10T16:46:46" nodeName="Yura_10.08.2017 13:46:40" urlName="yura_10082017-134640" path="-1,1094,1118,1146,1150,1177" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T16:46:43.5637227</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[Yura]]></senderEmail>
            <messageText><![CDATA[Yura]]></messageText>
          </comment>
          <comment id="1178" key="d5a41c25-bae7-4e51-8d40-d20423ebd81b" parentID="1150" level="5" creatorID="0" sortOrder="7" createDate="2017-08-10T16:47:55" updateDate="2017-08-10T16:58:49" nodeName="Yura_10.08.2017 13:47:54" urlName="yura_10082017-134754" path="-1,1094,1118,1146,1150,1178" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T16:47:55</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[Yura]]></senderEmail>
            <messageText><![CDATA[Yura]]></messageText>
            <response><![CDATA[Hello! Quite a good question.]]></response>
          </comment>
          <comment id="1179" key="7ac52f59-5ebf-4020-9200-33c637915490" parentID="1150" level="5" creatorID="0" sortOrder="8" createDate="2017-08-10T17:06:42" updateDate="2017-08-10T17:06:42" nodeName="ystetskyy333@gmail.com_10.08.2017 14:06:41" urlName="ystetskyy333-gmailcom_10082017-140641" path="-1,1094,1118,1146,1150,1179" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>9</estimate>
            <addingTime>2017-08-10T17:06:42.5102985</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Hello! Cool product]]></messageText>
            <disadvantages><![CDATA[None of them]]></disadvantages>
            <advantages><![CDATA[Lot of them]]></advantages>
          </comment>
        </product>
        <product id="1163" key="8d2fbaec-6114-4643-bf74-f3c811e2da9f" parentID="1146" level="4" creatorID="0" sortOrder="1" createDate="2017-08-08T19:18:46" updateDate="2017-08-10T17:13:12" nodeName="Acropal Cups" urlName="acropal-cups" path="-1,1094,1118,1146,1163" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Acropal Cups]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/716359bb368648c59058c331d6a55cc3]]></banner>
          <price>500</price>
          <inStock>15</inStock>
          <discount>10</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Arcopal"
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Grey"
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Great cups!]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/716359bb368648c59058c331d6a55cc3","title":"","link":""}]]]></carousel>
          <comment id="1180" key="a3510858-655e-49d2-9bc7-ea16a6b733e1" parentID="1163" level="5" creatorID="0" sortOrder="0" createDate="2017-08-10T17:14:10" updateDate="2017-08-10T17:14:10" nodeName="ystetskyy333@gmail.com_10.08.2017 14:14:10" urlName="ystetskyy333-gmailcom_10082017-141410" path="-1,1094,1118,1146,1163,1180" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T17:14:10.5439246</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Still no comments?]]></messageText>
          </comment>
        </product>
      </productCategory>
    </intermediateCategory>
  </categories>
  <basket id="1154" key="5de49323-b92e-4273-b96d-94d39d091aa4" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-08-04T16:20:00" updateDate="2017-08-07T17:30:24" nodeName="Basket" urlName="basket" path="-1,1154" isDoc="" nodeType="1153" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1152" nodeTypeAlias="basket">
    <headerFormat><![CDATA[banner_lg]]></headerFormat>
    <pageTitle><![CDATA[Basket]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.45228215767634855,
    "top": 0.22981366459627328
  },
  "src": "/media/1022/master_header.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300,
      "coordinates": {
        "x1": 1.2631870857957334E-16,
        "y1": 0,
        "x2": 0,
        "y2": 0.059851694915254355
      }
    }
  ]
}]]></headerPicture>
  </basket>
</root>