<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT layout12Cols ANY>
<!ATTLIST layout12Cols id ID #REQUIRED>
<!ELEMENT layout39Cols ANY>
<!ATTLIST layout39Cols id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT layout93Cols ANY>
<!ATTLIST layout93Cols id ID #REQUIRED>
<!ELEMENT layout363Cols ANY>
<!ATTLIST layout363Cols id ID #REQUIRED>
<!ELEMENT intermediateCategory ANY>
<!ATTLIST intermediateCategory id ID #REQUIRED>
<!ELEMENT productCategory ANY>
<!ATTLIST productCategory id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT carousel ANY>
<!ATTLIST carousel id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1080" key="10ca723f-b6ba-4429-94fd-26244a5cd89f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-23T13:24:19" updateDate="2017-07-24T15:41:40" nodeName="Start page" urlName="start-page" path="-1,1080" isDoc="" nodeType="1074" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1073" nodeTypeAlias="startPage">
    <headerPicture><![CDATA[umb://media/17a1fac23995425bbf3b4e64cdb20a88]]></headerPicture>
    <pageTitle><![CDATA[Start page]]></pageTitle>
    <carousel id="1116" key="74a00b25-89d1-4ce8-8aca-f9bce63c2213" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2017-07-24T18:36:50" updateDate="2017-07-24T18:36:50" nodeName="Food" urlName="food" path="-1,1080,1116" isDoc="" nodeType="1109" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1108" nodeTypeAlias="carousel">
      <partialViewName><![CDATA[RootCategory]]></partialViewName>
      <dataItems><![CDATA[{
  "name": "Image-text-url",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Img-txt-url",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1114,
                    "image": "/media/1005/nature.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdsad</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>adsasd</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "label": "Image-text-url",
          "hasConfig": false,
          "id": "1271dec7-4d6d-dfdc-98e7-c4dc7a32ccc9",
          "active": false
        }
      ]
    }
  ]
}]]></dataItems>
      <categoryName><![CDATA[Education]]></categoryName>
    </carousel>
  </startPage>
  <categories id="1094" key="e2190e31-6338-4a81-8d80-4c4fde72bca3" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-23T14:53:22" updateDate="2017-07-23T14:53:22" nodeName="Root categories" urlName="root-categories" path="-1,1094" isDoc="" nodeType="1092" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1091" nodeTypeAlias="categories">
    <headerPicture><![CDATA[umb://media/5fb0a6e4bf744b1886c9e073fd6ab050]]></headerPicture>
    <pageTitle><![CDATA[Categories]]></pageTitle>
    <intermediateCategory id="1118" key="74a4d11c-132c-4123-ab78-927311c556e7" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2017-07-25T10:30:44" updateDate="2017-07-25T10:30:44" nodeName="Home Appliances" urlName="home-appliances" path="-1,1094,1118" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
      <headerPicture><![CDATA[umb://media/61b3a9d438784634983e2b4d0716d61d]]></headerPicture>
      <pageTitle><![CDATA[Home appliances]]></pageTitle>
      <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
      <intermediateCategory id="1120" key="bb8b0964-0c6d-4d9e-98e6-a8836c8f7e94" parentID="1118" level="3" creatorID="0" sortOrder="0" createDate="2017-07-25T10:32:18" updateDate="2017-07-25T10:32:58" nodeName="Kitchen appliances" urlName="kitchen-appliances" path="-1,1094,1118,1120" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[umb://media/578e3a9ea05d4ae28b11455b8768651d]]></headerPicture>
        <pageTitle><![CDATA[Kitchen appliances]]></pageTitle>
        <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
        <productCategory id="1125" key="ecffd3f4-8b2c-4798-a60e-38e8d92723ff" parentID="1120" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:35:25" updateDate="2017-07-25T10:35:25" nodeName="Blenders" urlName="blenders" path="-1,1094,1118,1120,1125" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/578e3a9ea05d4ae28b11455b8768651d]]></headerPicture>
          <pageTitle><![CDATA[Blenders]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[SIze
Type
Speed]]></propertiesList>
          <product id="1143" key="d2c47e01-5c20-49fe-af0c-ba361fdd7f96" parentID="1125" level="5" creatorID="0" sortOrder="0" createDate="2017-07-26T14:37:44" updateDate="2017-07-26T15:10:03" nodeName="Philips" urlName="philips" path="-1,1094,1118,1120,1125,1143" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
            <headerPicture><![CDATA[umb://media/578e3a9ea05d4ae28b11455b8768651d]]></headerPicture>
            <pageTitle><![CDATA[Philips]]></pageTitle>
            <leftPartialViewName><![CDATA[ProductDescription]]></leftPartialViewName>
            <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesValues>
            <description><![CDATA[This is a great blender!]]></description>
            <rightPartialViewName><![CDATA[RootCategories]]></rightPartialViewName>
            <carousel><![CDATA[[{"name":"Philips 2","ncContentTypeAlias":"carouselItem","image":"umb://media/2e4c4c21787649d983de3b2faa0df2a3","title":"Philips 2","link":""},{"name":"Philips 3","ncContentTypeAlias":"carouselItem","image":"umb://media/2295b6564c9444f39f60c3f7be75e4b6","title":"Philips 3","link":""}]]]></carousel>
          </product>
        </productCategory>
        <productCategory id="1126" key="3a78832f-b6e0-4ae1-a195-07a147de0f86" parentID="1120" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:36:50" updateDate="2017-07-25T10:36:50" nodeName="Microwave owens" urlName="microwave-owens" path="-1,1094,1118,1120,1126" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/578e3a9ea05d4ae28b11455b8768651d]]></headerPicture>
          <pageTitle><![CDATA[Microwave owens]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Volume
Producer
Maximal warmth]]></propertiesList>
        </productCategory>
      </intermediateCategory>
      <intermediateCategory id="1122" key="75b60ef5-b093-49e8-b89c-fb05febbe16b" parentID="1118" level="3" creatorID="0" sortOrder="1" createDate="2017-07-25T10:33:38" updateDate="2017-07-25T10:33:38" nodeName="Plumbing" urlName="plumbing" path="-1,1094,1118,1122" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[umb://media/bb283a16c221426c9bcb88135f41b8f9]]></headerPicture>
        <pageTitle><![CDATA[Plumbing]]></pageTitle>
        <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
        <productCategory id="1128" key="22ccf52d-15d4-4369-8140-7cf3e8e9faab" parentID="1122" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:38:52" updateDate="2017-07-25T10:38:52" nodeName="Boilers" urlName="boilers" path="-1,1094,1118,1122,1128" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/bb283a16c221426c9bcb88135f41b8f9]]></headerPicture>
          <pageTitle><![CDATA[Boilers]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Maximal warmth
Producer
Size]]></propertiesList>
        </productCategory>
        <productCategory id="1129" key="9527c600-c0fe-49c9-ae31-6cce699a726c" parentID="1122" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:40:16" updateDate="2017-07-25T10:40:16" nodeName="Baths" urlName="baths" path="-1,1094,1118,1122,1129" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/bb283a16c221426c9bcb88135f41b8f9]]></headerPicture>
          <pageTitle><![CDATA[Baths]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Width
Breadth
Producer]]></propertiesList>
        </productCategory>
        <productCategory id="1130" key="14f48672-391a-4b19-83c9-0d9bb7971f02" parentID="1122" level="4" creatorID="0" sortOrder="2" createDate="2017-07-25T10:41:33" updateDate="2017-07-25T10:41:33" nodeName="Showers" urlName="showers" path="-1,1094,1118,1122,1130" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/bb283a16c221426c9bcb88135f41b8f9]]></headerPicture>
          <pageTitle><![CDATA[Showers]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Modes
Producer
Price]]></propertiesList>
        </productCategory>
      </intermediateCategory>
      <intermediateCategory id="1124" key="9201f017-484c-4317-8b59-ee0f95ccdf81" parentID="1118" level="3" creatorID="0" sortOrder="2" createDate="2017-07-25T10:34:17" updateDate="2017-07-25T10:34:17" nodeName="Laptops and Computers" urlName="laptops-and-computers" path="-1,1094,1118,1124" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
        <pageTitle><![CDATA[Laptops and Computers]]></pageTitle>
        <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
        <productCategory id="1131" key="c1e1cd8c-fbee-43bc-bc4b-9b507ce6a4cb" parentID="1124" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:42:10" updateDate="2017-07-25T10:42:10" nodeName="Laptops" urlName="laptops" path="-1,1094,1118,1124,1131" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[Laptops]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Weight
Producer
Price]]></propertiesList>
        </productCategory>
        <productCategory id="1132" key="5e93b6f5-2628-452c-9826-9a8427e530b5" parentID="1124" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:42:49" updateDate="2017-07-25T10:42:49" nodeName="PCs" urlName="pcs" path="-1,1094,1118,1124,1132" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[PCs]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Monitor size
Producer
Price]]></propertiesList>
        </productCategory>
        <productCategory id="1133" key="aa9f475f-1dcb-4de3-8a82-030bca7bbcc7" parentID="1124" level="4" creatorID="0" sortOrder="2" createDate="2017-07-25T10:43:34" updateDate="2017-07-25T10:43:34" nodeName="Tablets" urlName="tablets" path="-1,1094,1118,1124,1133" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[Tablets]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Weight
Producer
Price]]></propertiesList>
        </productCategory>
      </intermediateCategory>
    </intermediateCategory>
  </categories>
</root>