<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT layout12Cols ANY>
<!ATTLIST layout12Cols id ID #REQUIRED>
<!ELEMENT layout39Cols ANY>
<!ATTLIST layout39Cols id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT layout93Cols ANY>
<!ATTLIST layout93Cols id ID #REQUIRED>
<!ELEMENT layout363Cols ANY>
<!ATTLIST layout363Cols id ID #REQUIRED>
<!ELEMENT intermediateCategory ANY>
<!ATTLIST intermediateCategory id ID #REQUIRED>
<!ELEMENT productCategory ANY>
<!ATTLIST productCategory id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT carousel ANY>
<!ATTLIST carousel id ID #REQUIRED>
<!ELEMENT carouselItem ANY>
<!ATTLIST carouselItem id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT widget ANY>
<!ATTLIST widget id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT purchase ANY>
<!ATTLIST purchase id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1080" key="10ca723f-b6ba-4429-94fd-26244a5cd89f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-23T13:24:19" updateDate="2017-08-14T18:41:30" nodeName="Start page" urlName="start-page" path="-1,1080" isDoc="" nodeType="1074" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1073" nodeTypeAlias="startPage">
    <headerFormat><![CDATA[banner_lg]]></headerFormat>
    <pageTitle><![CDATA[Start page]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.7441860465116279,
    "top": 0.060465116279069767
  },
  "src": "/media/1020/desktop-high-definition-wallpaper-nature.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111069,
        "x2": 6.3159354289786646E-16,
        "y2": 0.30388888888888932
      }
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111111,
        "x2": 0,
        "y2": 0.46013888888888888
      }
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.084761904761904761,
        "x2": 6.3159354289786646E-16,
        "y2": 0.60273809523809541
      }
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.062499999999999965,
        "x2": 6.3159354289786646E-16,
        "y2": 6.0632980118195174E-16
      }
    }
  ]
}]]></headerPicture>
    <mainPageCarouselsType><![CDATA[HorizontalDottedCarousel]]></mainPageCarouselsType>
    <productPageCarouselsType><![CDATA[FotoramaThumbnailCarousel]]></productPageCarouselsType>
    <carousel id="1144" key="0d63502f-a729-4ca5-bd4a-b903fc738ca7" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2017-07-26T21:02:59" updateDate="2017-08-14T18:45:27" nodeName="Main Carousel" urlName="main-carousel" path="-1,1080,1144" isDoc="" nodeType="1109" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="carousel">
      <myCarousel><![CDATA[[{"name":"Top-quality kitchen appliances","ncContentTypeAlias":"carouselItem","image":"umb://media/61b3a9d438784634983e2b4d0716d61d","title":"Top-quality kitchen appliances","link":"umb://document/7ff5c837acf742ada7df4235e047ca59"},{"name":"Cool plumbing for everyone","ncContentTypeAlias":"carouselItem","image":"umb://media/bb283a16c221426c9bcb88135f41b8f9","title":"Cool plumbing for everyone","link":"umb://document/75b60ef5b09349e8b89cfb05febbe16b"},{"name":"Brand-new computers","ncContentTypeAlias":"carouselItem","image":"umb://media/c16012f0fd7e4528a28bb1e767689d38","title":"Brand-new computers","link":"umb://document/9201f017484c43178b59ee0f95ccdf81"}]]]></myCarousel>
    </carousel>
  </startPage>
  <categories id="1094" key="e2190e31-6338-4a81-8d80-4c4fde72bca3" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-23T14:53:22" updateDate="2017-08-07T17:28:28" nodeName="Root categories" urlName="root-categories" path="-1,1094" isDoc="" nodeType="1092" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1091" nodeTypeAlias="categories">
    <headerFormat><![CDATA[banner_md]]></headerFormat>
    <pageTitle><![CDATA[Categories]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.57558139534883723,
    "top": 0.627906976744186
  },
  "src": "/media/1021/desktop-high-definition-wallpaper-nature.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300
    }
  ]
}]]></headerPicture>
    <intermediateCategory id="1118" key="74a4d11c-132c-4123-ab78-927311c556e7" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2017-07-25T10:30:44" updateDate="2017-08-08T12:14:45" nodeName="Home Appliances" urlName="home-appliances" path="-1,1094,1118" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
      <pageTitle><![CDATA[Home appliances]]></pageTitle>
      <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
      <banner><![CDATA[umb://media/61b3a9d438784634983e2b4d0716d61d]]></banner>
      <productCategory id="1146" key="7ff5c837-acf7-42ad-a7df-4235e047ca59" parentID="1118" level="3" creatorID="0" sortOrder="3" createDate="2017-07-29T11:16:26" updateDate="2017-08-12T14:02:38" nodeName="Crockery" urlName="crockery" path="-1,1094,1118,1146" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <pageTitle><![CDATA[Crockery]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      },
      {
        "value": "Black"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": "Arcopal"
      },
      {
        "value": "Lora"
      },
      {
        "value": "Berghoff"
      }
    ],
    [
      {
        "value": "Country"
      },
      {
        "value": "Ukraine"
      },
      {
        "value": "USA"
      },
      {
        "value": "UK"
      },
      {
        "value": "Australia"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": "Porcelain"
      },
      {
        "value": "Stainless Steel"
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <banner><![CDATA[umb://media/f63f4a41576e435db39b0b0c45e0d81a]]></banner>
        <product id="1150" key="ba63b556-6313-4e62-92b5-938ad9f3f618" parentID="1146" level="4" creatorID="0" sortOrder="0" createDate="2017-07-29T11:25:11" updateDate="2017-08-11T18:28:41" nodeName="Luminarc Plates" urlName="luminarc-plates" path="-1,1094,1118,1146,1150" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Luminarc Plates]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"},{"name":"Item 2","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"discount","widgetTitle":"Discount (%)","customWidgetDisplayType":"Single string"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/78c9d42cf2744005897f625c6bbdceb1]]></banner>
          <price>100</price>
          <inStock>15</inStock>
          <discount>0</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Black"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Very high-quality plates produced by a well-known brand, which can bring warmth and comfort to your routine household affairs]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/00899ffe7b214128b8a5152b1c3c3388","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/f63f4a41576e435db39b0b0c45e0d81a","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/78c9d42cf2744005897f625c6bbdceb1","title":"","link":""},{"name":"Broccoli","ncContentTypeAlias":"carouselItem","image":"umb://media/ef429ae7c48543928452615045b6c5eb","title":"Broccoli","link":""}]]]></carousel>
          <comment id="1195" key="a0dc2256-ed9c-4a06-8233-bbcdd3dc9c2a" parentID="1150" level="5" creatorID="0" sortOrder="0" createDate="2017-08-11T18:17:35" updateDate="2017-08-11T18:17:35" nodeName="ystetskyy333@gmail.com_11.08.2017 15:17:34" urlName="ystetskyy333-gmailcom_11082017-151734" path="-1,1094,1118,1146,1150,1195" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>9</estimate>
            <addingTime>2017-08-11T18:17:35.1169435</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Cool product]]></messageText>
            <disadvantages><![CDATA[None]]></disadvantages>
            <advantages><![CDATA[Great stuff]]></advantages>
          </comment>
          <comment id="1196" key="1473a259-75be-4cfc-a14f-039a392eb7d4" parentID="1150" level="5" creatorID="0" sortOrder="1" createDate="2017-08-12T12:14:06" updateDate="2017-08-12T12:14:06" nodeName="ystetskyy333@gmail.com_12.08.2017 9:14:05" urlName="ystetskyy333-gmailcom_12082017-91405" path="-1,1094,1118,1146,1150,1196" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-12T12:14:06.1868139</addingTime>
            <senderName><![CDATA[Grateful Consumer]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Hello! Superb]]></messageText>
          </comment>
          <comment id="1205" key="a3247637-2e6c-46c2-9eef-c38dfa562937" parentID="1150" level="5" creatorID="0" sortOrder="2" createDate="2017-08-14T19:54:32" updateDate="2017-08-14T19:54:32" nodeName="sss@sss_14.08.2017 16:54:26" urlName="sss-sss_14082017-165426" path="-1,1094,1118,1146,1150,1205" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-14T19:54:30.5827426</addingTime>
            <senderName><![CDATA[sssssssss]]></senderName>
            <senderEmail><![CDATA[sss@sss]]></senderEmail>
            <messageText><![CDATA[ssssssssssss]]></messageText>
          </comment>
          <comment id="1206" key="c13fda8d-9421-4e99-bf66-297b5ef85184" parentID="1150" level="5" creatorID="0" sortOrder="3" createDate="2017-08-14T19:54:56" updateDate="2017-08-14T19:54:56" nodeName="saaa@wsss_14.08.2017 16:54:56" urlName="saaa-wsss_14082017-165456" path="-1,1094,1118,1146,1150,1206" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-14T19:54:56.3582169</addingTime>
            <senderName><![CDATA[aaaaaaaa]]></senderName>
            <senderEmail><![CDATA[saaa@wsss]]></senderEmail>
            <messageText><![CDATA[aaasddsaad]]></messageText>
          </comment>
          <comment id="1207" key="1dfa6671-195a-4884-a7d3-6d83824705a1" parentID="1150" level="5" creatorID="0" sortOrder="4" createDate="2017-08-14T19:57:10" updateDate="2017-08-14T19:57:10" nodeName="wqe@sfd_14.08.2017 16:57:09" urlName="wqe-sfd_14082017-165709" path="-1,1094,1118,1146,1150,1207" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-14T19:57:10.1868715</addingTime>
            <senderName><![CDATA[a sds ads ad]]></senderName>
            <senderEmail><![CDATA[wqe@sfd]]></senderEmail>
            <messageText><![CDATA[SaSAad ssad ]]></messageText>
          </comment>
        </product>
        <product id="1163" key="8d2fbaec-6114-4643-bf74-f3c811e2da9f" parentID="1146" level="4" creatorID="0" sortOrder="1" createDate="2017-08-08T19:18:46" updateDate="2017-08-10T17:13:12" nodeName="Acropal Cups" urlName="acropal-cups" path="-1,1094,1118,1146,1163" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Acropal Cups]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/716359bb368648c59058c331d6a55cc3]]></banner>
          <price>500</price>
          <inStock>15</inStock>
          <discount>10</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Arcopal"
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Grey"
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Great cups!]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/716359bb368648c59058c331d6a55cc3","title":"","link":""}]]]></carousel>
          <comment id="1180" key="a3510858-655e-49d2-9bc7-ea16a6b733e1" parentID="1163" level="5" creatorID="0" sortOrder="0" createDate="2017-08-10T17:14:10" updateDate="2017-08-10T17:14:10" nodeName="ystetskyy333@gmail.com_10.08.2017 14:14:10" urlName="ystetskyy333-gmailcom_10082017-141410" path="-1,1094,1118,1146,1163,1180" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>0</estimate>
            <addingTime>2017-08-10T17:14:10.5439246</addingTime>
            <senderName><![CDATA[Yura]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Still no comments?]]></messageText>
          </comment>
        </product>
        <product id="1197" key="31d6fc75-b80a-4b67-8ce5-87e358491efa" parentID="1146" level="4" creatorID="0" sortOrder="2" createDate="2017-08-12T13:59:50" updateDate="2017-08-12T14:05:13" nodeName="Berghoff Fork" urlName="berghoff-fork" path="-1,1094,1118,1146,1197" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Berghoff Fork]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/999d5ff01efd46d9aafc1c897561aae3]]></banner>
          <price>50</price>
          <inStock>25</inStock>
          <discount>5</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Product"
      },
      {
        "value": "Stainless Steel"
      }
    ],
    [
      {
        "value": "Weight (grams)"
      },
      {
        "value": "200"
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Great forks]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/999d5ff01efd46d9aafc1c897561aae3","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/bdaba62532284dc4abb445fcb5658758","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/95e47abf2613495c923d39060814c8cd","title":"","link":""}]]]></carousel>
        </product>
      </productCategory>
    </intermediateCategory>
    <intermediateCategory id="1208" key="ab994bd9-450b-49bb-acf1-b8d1149a4c51" parentID="1094" level="2" creatorID="0" sortOrder="1" createDate="2017-08-15T15:14:19" updateDate="2017-08-15T15:15:16" nodeName="Computers and Laptops" urlName="computers-and-laptops" path="-1,1094,1208" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
      <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
      <banner><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></banner>
      <productCategory id="1210" key="2895c40d-0586-4a3a-add3-3c3c792acda9" parentID="1208" level="3" creatorID="0" sortOrder="0" createDate="2017-08-15T15:17:11" updateDate="2017-08-15T15:21:28" nodeName="Laptops" urlName="laptops" path="-1,1094,1208,1210" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <pageTitle><![CDATA[Laptops]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Processor"
      },
      {
        "value": "Intel Core i3"
      },
      {
        "value": "Intel Core i5"
      },
      {
        "value": "Inter Core i7"
      },
      {
        "value": "Intel Pentium"
      },
      {
        "value": "Intel Celeron"
      }
    ],
    [
      {
        "value": "Producer"
      },
      {
        "value": "Asus"
      },
      {
        "value": "Acer"
      },
      {
        "value": "Asus"
      },
      {
        "value": "Dell"
      },
      {
        "value": "HP"
      }
    ],
    [
      {
        "value": "RAM (GB)"
      },
      {
        "value": "2"
      },
      {
        "value": "4"
      },
      {
        "value": "6"
      },
      {
        "value": "8"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "OS"
      },
      {
        "value": "Windows 7"
      },
      {
        "value": "Windows 10"
      },
      {
        "value": "MacOS"
      },
      {
        "value": "Linux"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Black"
      },
      {
        "value": "Silver"
      },
      {
        "value": "Violet"
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <banner><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></banner>
        <product id="1219" key="914d36b7-af90-4c46-a47b-3bd9f742b2e1" parentID="1210" level="4" creatorID="0" sortOrder="0" createDate="2017-08-15T16:19:24" updateDate="2017-08-15T16:19:24" nodeName="Asus Vivobook E502NA" urlName="asus-vivobook-e502na" path="-1,1094,1208,1210,1219" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Asus Vivobook E502NA]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/30ce1deece15449e852e7745fff2a378]]></banner>
          <price>750</price>
          <inStock>5</inStock>
          <discount>8</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Asus"
      }
    ],
    [
      {
        "value": "RAM (GB)"
      },
      {
        "value": "4"
      }
    ],
    [
      {
        "value": "Processor"
      },
      {
        "value": "Intel Core i5"
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus massa a velit pellentesque, et hendrerit est vehicula. Ut metus risus, dapibus vitae elit sit amet, maximus consectetur nisl. Phasellus et nibh enim. Aliquam vitae justo augue. Vestibulum in mi erat. Donec quis felis quis quam ultrices finibus id vitae metus. Integer lacinia semper diam, non dapibus metus rutrum vitae. Vestibulum vitae felis ac nisl suscipit volutpat consequat pulvinar odio. Aliquam vel mi ex. Praesent vitae dignissim arcu. Nam rutrum quam tellus, posuere volutpat odio rutrum id. Morbi vel ullamcorper metus. Praesent ac fringilla magna.

Phasellus ac eleifend augue, non varius augue. Mauris varius, ex quis hendrerit posuere, nisi sem imperdiet nisi, quis consectetur nunc nibh ut eros. Suspendisse potenti. Aliquam eget elit rutrum, ullamcorper quam nec, blandit sapien. Nullam eget velit eu nibh aliquam consequat. Quisque varius, dui et fringilla rhoncus, ante dolor iaculis leo, ornare fermentum dolor nibh vel metus. Curabitur rutrum ante ac imperdiet ornare. Sed sollicitudin, sapien in egestas pretium, felis elit interdum risus, quis volutpat sapien augue ac lacus. Suspendisse egestas lorem at felis consectetur fringilla. Vestibulum accumsan ut ligula ut lobortis.]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/30ce1deece15449e852e7745fff2a378","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/242245640b0645db901c40c18cd31bbb","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/04ad06909f464c898350a05e509675f0","title":"","link":""}]]]></carousel>
          <comment id="1224" key="72701b7a-1031-49dd-a523-ed8f1805588b" parentID="1219" level="5" creatorID="0" sortOrder="0" createDate="2017-08-15T16:30:56" updateDate="2017-08-15T16:30:56" nodeName="ystetskyy333@gmail.com_15.08.2017 13:30:56" urlName="ystetskyy333-gmailcom_15082017-133056" path="-1,1094,1208,1210,1219,1224" isDoc="" nodeType="1169" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="comment">
            <estimate>7</estimate>
            <addingTime>2017-08-15T16:30:56.3769311</addingTime>
            <senderName><![CDATA[Yura Stetskyi]]></senderName>
            <senderEmail><![CDATA[ystetskyy333@gmail.com]]></senderEmail>
            <messageText><![CDATA[Good laptop]]></messageText>
            <disadvantages><![CDATA[Weak conditioning system]]></disadvantages>
            <advantages><![CDATA[Light weight, durability]]></advantages>
          </comment>
        </product>
        <product id="1223" key="f660b25c-e80d-4348-9b1c-2033081d59b0" parentID="1210" level="4" creatorID="0" sortOrder="1" createDate="2017-08-15T16:26:44" updateDate="2017-08-15T16:26:44" nodeName="Dell XPS 13 9350" urlName="dell-xps-13-9350" path="-1,1094,1208,1210,1223" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <pageTitle><![CDATA[Dell XPS 13 9350]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <banner><![CDATA[umb://media/f5b735c1e3da4bfaa74d22a78c715c1a]]></banner>
          <price>500</price>
          <inStock>15</inStock>
          <discount>10</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Dell"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "RAM (GB)"
      },
      {
        "value": "4"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Black"
      },
      {
        "value": "Violet"
      }
    ],
    [
      {
        "value": "Processor"
      },
      {
        "value": "Intel Core i7"
      },
      {
        "value": "Intel Celeron"
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Vivamus interdum ligula vel mollis sodales. Proin ut vehicula nisi. Phasellus eget interdum justo. Curabitur suscipit tellus risus, ac posuere turpis scelerisque eget. Aliquam eget ante purus. Curabitur condimentum arcu vitae lectus aliquam sollicitudin sed ut ex. Morbi lacus justo, pellentesque eget nunc ut, lacinia tristique nunc. Curabitur non ultrices dui, at bibendum turpis. Phasellus consectetur ultrices augue et congue. Etiam eu blandit lacus. Duis et maximus lacus. Integer viverra blandit odio quis facilisis. Nam tristique molestie euismod. Praesent interdum ligula eu ex facilisis mattis. In non magna quis nibh suscipit consequat in et nisl. Pellentesque hendrerit tortor sapien, ut mattis enim ullamcorper euismod.]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/f5b735c1e3da4bfaa74d22a78c715c1a","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/edce0fa428dd48238599f64a72ae317c","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/d5c8508eefec40b6936a7bd9e0ac83f7","title":"","link":""}]]]></carousel>
        </product>
      </productCategory>
      <productCategory id="1212" key="eac1cbf9-87f3-4a36-80fe-e126bbc8b68b" parentID="1208" level="3" creatorID="0" sortOrder="1" createDate="2017-08-15T15:24:58" updateDate="2017-08-15T15:30:50" nodeName="Computers" urlName="computers" path="-1,1094,1208,1212" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Processor"
      },
      {
        "value": "Intel Core i3"
      },
      {
        "value": "Intel Core i5"
      },
      {
        "value": "Intel Core i7"
      },
      {
        "value": "Intel Xeon"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "RAM"
      },
      {
        "value": "2"
      },
      {
        "value": "4"
      },
      {
        "value": "6"
      },
      {
        "value": "8"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "OS"
      },
      {
        "value": "Windows XP"
      },
      {
        "value": "Windows 7"
      },
      {
        "value": "MacOS"
      },
      {
        "value": "Linux"
      },
      {
        "value": "DOS"
      }
    ],
    [
      {
        "value": "Producer"
      },
      {
        "value": "Acer"
      },
      {
        "value": "Apple"
      },
      {
        "value": "Asus"
      },
      {
        "value": "Lenovo"
      },
      {
        "value": "HP"
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Black"
      },
      {
        "value": "Violet"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <banner><![CDATA[umb://media/0fec179b22504c16b37a137d6fb33539]]></banner>
      </productCategory>
      <productCategory id="1213" key="baf31b33-eec0-4621-97e4-71924f2a8255" parentID="1208" level="3" creatorID="0" sortOrder="2" createDate="2017-08-15T15:25:17" updateDate="2017-08-15T15:30:03" nodeName="Tablets" urlName="tablets" path="-1,1094,1208,1213" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Acer"
      },
      {
        "value": "Ainol"
      },
      {
        "value": "Acer"
      },
      {
        "value": "Huawei"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Diagonal"
      },
      {
        "value": "7''"
      },
      {
        "value": "8''"
      },
      {
        "value": "9''"
      },
      {
        "value": "10''"
      },
      {
        "value": "11''"
      }
    ],
    [
      {
        "value": "RAM (GB)"
      },
      {
        "value": "2"
      },
      {
        "value": "4"
      },
      {
        "value": "6"
      },
      {
        "value": "8"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Black"
      },
      {
        "value": "Silver"
      },
      {
        "value": "Violet"
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <banner><![CDATA[umb://media/7b0fcdf07299440daf26ca68cdae02cd]]></banner>
      </productCategory>
    </intermediateCategory>
  </categories>
  <basket id="1154" key="5de49323-b92e-4273-b96d-94d39d091aa4" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-08-04T16:20:00" updateDate="2017-08-07T17:30:24" nodeName="Basket" urlName="basket" path="-1,1154" isDoc="" nodeType="1153" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1152" nodeTypeAlias="basket">
    <headerFormat><![CDATA[banner_lg]]></headerFormat>
    <pageTitle><![CDATA[Basket]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.45228215767634855,
    "top": 0.22981366459627328
  },
  "src": "/media/1022/master_header.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300,
      "coordinates": {
        "x1": 1.2631870857957334E-16,
        "y1": 0,
        "x2": 0,
        "y2": 0.059851694915254355
      }
    }
  ]
}]]></headerPicture>
  </basket>
  <purchase id="1203" key="29478885-29d5-4bfb-86fd-49e2e7b2057c" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2017-08-13T13:09:06" updateDate="2017-08-13T13:09:06" nodeName="Purchase" urlName="purchase" path="-1,1203" isDoc="" nodeType="1202" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1201" nodeTypeAlias="purchase">
    <pageTitle><![CDATA[Purchase]]></pageTitle>
  </purchase>
</root>