@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{
    var rowIndex = 0;
    var tbl =  Model.GetPropertyValue<TableEditor.Models.TableEditorModel>("propertiesList");
}
<div>
    <div class="row">
        @{       
                foreach (var row in tbl.Cells)
                {
                  var groupId = "property_" + row.First().Value.Trim();
                    <div id="@groupId" class="col-xs-11">
                        @{
                            var columnIndex = 0;
                            <p><b>@Html.Raw(row.First().Value)</b></p>
                            foreach (var column in row)
                            {
                                var itemId = groupId + "_" + column.Value.Trim();
                                if(columnIndex != 0 && column.Value != ""){
                                <input type="checkbox" id="@itemId" /><span>@column.Value</span><br/>
                                }
                                columnIndex++;
                            }
                        
                        <hr/>
                            rowIndex++;
                        }
                    </div>
                }
        }
    </div>
</div>