@inherits Umbraco.Web.Mvc.UmbracoViewPage<Tuple<IPublishedContent, IPublishedContent>>
@{
var title = Model.Item1.GetPropertyValue<string>("widgetTitle");
var text = Model.Item2.GetPropertyValue<string>(Model.Item1.GetPropertyValue<string>("customPropertyAlias"));
var display = Model.Item1.GetPropertyValue<string>("customWidgetDisplayType");
}

@if(display == "Text area"){
<h3 style="text-align: center">@title</h3>
<br/>
<p style="text-align:center">@text</p>
}

@if(display == "Single string"){
    <p style="text-align: center"><b>@title :</b> @text</p>
}

<hr/>