<!DOCTYPE root[<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT layout12Cols ANY>
<!ATTLIST layout12Cols id ID #REQUIRED>
<!ELEMENT layout39Cols ANY>
<!ATTLIST layout39Cols id ID #REQUIRED>
<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT layout93Cols ANY>
<!ATTLIST layout93Cols id ID #REQUIRED>
<!ELEMENT layout363Cols ANY>
<!ATTLIST layout363Cols id ID #REQUIRED>
<!ELEMENT intermediateCategory ANY>
<!ATTLIST intermediateCategory id ID #REQUIRED>
<!ELEMENT productCategory ANY>
<!ATTLIST productCategory id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT carousel ANY>
<!ATTLIST carousel id ID #REQUIRED>
<!ELEMENT carouselItem ANY>
<!ATTLIST carouselItem id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT widget ANY>
<!ATTLIST widget id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1080" key="10ca723f-b6ba-4429-94fd-26244a5cd89f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-23T13:24:19" updateDate="2017-08-07T17:12:07" nodeName="Start page" urlName="start-page" path="-1,1080" isDoc="" nodeType="1074" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1073" nodeTypeAlias="startPage">
    <pageTitle><![CDATA[Start page]]></pageTitle>
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.50168350168350173,
    "top": 0.26881720430107525
  },
  "src": "/media/1020/desktop-high-definition-wallpaper-nature.jpg",
  "crops": [
    {
      "alias": "banner_sm",
      "height": 300,
      "width": 768,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111069,
        "x2": 6.3159354289786646E-16,
        "y2": 0.30388888888888932
      }
    },
    {
      "alias": "banner_md",
      "width": 1024,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.071111111111111111,
        "x2": 0,
        "y2": 0.46013888888888888
      }
    },
    {
      "alias": "banner_lg",
      "width": 1536,
      "height": 300,
      "coordinates": {
        "x1": 6.3159354289786646E-16,
        "y1": 0.44003702799479139,
        "x2": 0,
        "y2": 0.24746297200520878
      }
    },
    {
      "alias": "banner_xs",
      "width": 512,
      "height": 300
    }
  ]
}]]></headerPicture>
    <carousel id="1144" key="0d63502f-a729-4ca5-bd4a-b903fc738ca7" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2017-07-26T21:02:59" updateDate="2017-07-26T21:15:48" nodeName="Main Carousel" urlName="main-carousel" path="-1,1080,1144" isDoc="" nodeType="1109" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="0" nodeTypeAlias="carousel">
      <myCarousel><![CDATA[[{"name":"Top-quality kitchen appliances","ncContentTypeAlias":"carouselItem","image":"umb://media/61b3a9d438784634983e2b4d0716d61d","title":"Top-quality kitchen appliances","link":"umb://document/bb8b09640c6d4d9e98e6a8836c8f7e94"},{"name":"Cool plumbing for everyone","ncContentTypeAlias":"carouselItem","image":"umb://media/bb283a16c221426c9bcb88135f41b8f9","title":"Cool plumbing for everyone","link":"umb://document/75b60ef5b09349e8b89cfb05febbe16b"},{"name":"Brand-new computers","ncContentTypeAlias":"carouselItem","image":"umb://media/c16012f0fd7e4528a28bb1e767689d38","title":"Brand-new computers","link":"umb://document/9201f017484c43178b59ee0f95ccdf81"}]]]></myCarousel>
    </carousel>
  </startPage>
  <categories id="1094" key="e2190e31-6338-4a81-8d80-4c4fde72bca3" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-07-23T14:53:22" updateDate="2017-07-23T14:53:22" nodeName="Root categories" urlName="root-categories" path="-1,1094" isDoc="" nodeType="1092" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1091" nodeTypeAlias="categories">
    <headerPicture><![CDATA[umb://media/5fb0a6e4bf744b1886c9e073fd6ab050]]></headerPicture>
    <pageTitle><![CDATA[Categories]]></pageTitle>
    <intermediateCategory id="1118" key="74a4d11c-132c-4123-ab78-927311c556e7" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2017-07-25T10:30:44" updateDate="2017-08-07T15:34:59" nodeName="Home Appliances" urlName="home-appliances" path="-1,1094,1118" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
      <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/61b3a9d438784634983e2b4d0716d61d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
      <pageTitle><![CDATA[Home appliances]]></pageTitle>
      <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":""}]]]></leftWidgets>
      <intermediateCategory id="1120" key="bb8b0964-0c6d-4d9e-98e6-a8836c8f7e94" parentID="1118" level="3" creatorID="0" sortOrder="0" createDate="2017-07-25T10:32:18" updateDate="2017-08-07T15:35:27" nodeName="Kitchen appliances" urlName="kitchen-appliances" path="-1,1094,1118,1120" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
        <pageTitle><![CDATA[Kitchen appliances]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":""}]]]></leftWidgets>
        <productCategory id="1125" key="ecffd3f4-8b2c-4798-a60e-38e8d92723ff" parentID="1120" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:35:25" updateDate="2017-08-07T16:56:56" nodeName="Blenders" urlName="blenders" path="-1,1094,1118,1120,1125" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Blenders]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
          <propertiesList><![CDATA[SIze
Type
Speed]]></propertiesList>
          <product id="1143" key="d2c47e01-5c20-49fe-af0c-ba361fdd7f96" parentID="1125" level="5" creatorID="0" sortOrder="0" createDate="2017-07-26T14:37:44" updateDate="2017-08-07T15:36:13" nodeName="Philips" urlName="philips" path="-1,1094,1118,1120,1125,1143" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
            <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
            <pageTitle><![CDATA[Philips]]></pageTitle>
            <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":""}]]]></leftWidgets>
            <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "A"
      },
      {
        "value": "a"
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
            <price>100</price>
            <inStock>10</inStock>
            <discount>10</discount>
            <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Price"
      },
      {
        "value": "1000"
      }
    ],
    [
      {
        "value": "Items"
      },
      {
        "value": "5"
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Grey"
      }
    ]
  ]
}]]></propertiesValues>
            <description><![CDATA[This is a great blender!]]></description>
            <carousel><![CDATA[[{"name":"Philips 2","ncContentTypeAlias":"carouselItem","image":"umb://media/2e4c4c21787649d983de3b2faa0df2a3","title":"Philips 2","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/2295b6564c9444f39f60c3f7be75e4b6","title":"","link":""}]]]></carousel>
          </product>
        </productCategory>
        <productCategory id="1126" key="3a78832f-b6e0-4ae1-a195-07a147de0f86" parentID="1120" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:36:50" updateDate="2017-08-07T16:57:07" nodeName="Microwave owens" urlName="microwave-owens" path="-1,1094,1118,1120,1126" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Microwave owens]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
          <propertiesList><![CDATA[Volume
Producer
Maximal warmth]]></propertiesList>
        </productCategory>
      </intermediateCategory>
      <intermediateCategory id="1122" key="75b60ef5-b093-49e8-b89c-fb05febbe16b" parentID="1118" level="3" creatorID="0" sortOrder="1" createDate="2017-07-25T10:33:38" updateDate="2017-08-07T16:56:41" nodeName="Plumbing" urlName="plumbing" path="-1,1094,1118,1122" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/bb283a16c221426c9bcb88135f41b8f9",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
        <pageTitle><![CDATA[Plumbing]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <productCategory id="1128" key="22ccf52d-15d4-4369-8140-7cf3e8e9faab" parentID="1122" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:38:52" updateDate="2017-08-07T16:57:17" nodeName="Boilers" urlName="boilers" path="-1,1094,1118,1122,1128" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/bb283a16c221426c9bcb88135f41b8f9",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Boilers]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
          <propertiesList><![CDATA[Maximal warmth
Producer
Size]]></propertiesList>
        </productCategory>
        <productCategory id="1129" key="9527c600-c0fe-49c9-ae31-6cce699a726c" parentID="1122" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:40:16" updateDate="2017-08-07T16:57:24" nodeName="Baths" urlName="baths" path="-1,1094,1118,1122,1129" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/bb283a16c221426c9bcb88135f41b8f9",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Baths]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
          <propertiesList><![CDATA[Width
Breadth
Producer]]></propertiesList>
        </productCategory>
        <productCategory id="1130" key="14f48672-391a-4b19-83c9-0d9bb7971f02" parentID="1122" level="4" creatorID="0" sortOrder="2" createDate="2017-07-25T10:41:33" updateDate="2017-08-07T16:57:32" nodeName="Showers" urlName="showers" path="-1,1094,1118,1122,1130" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/bb283a16c221426c9bcb88135f41b8f9",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Showers]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
          <propertiesList><![CDATA[Modes
Producer
Price]]></propertiesList>
        </productCategory>
      </intermediateCategory>
      <intermediateCategory id="1124" key="9201f017-484c-4317-8b59-ee0f95ccdf81" parentID="1118" level="3" creatorID="0" sortOrder="2" createDate="2017-07-25T10:34:17" updateDate="2017-08-07T16:56:48" nodeName="Laptops and Computers" urlName="laptops-and-computers" path="-1,1094,1118,1124" isDoc="" nodeType="1087" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1085" nodeTypeAlias="intermediateCategory">
        <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/c16012f0fd7e4528a28bb1e767689d38",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
        <pageTitle><![CDATA[Laptops and Computers]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Root categories","customPropertyAlias":"","widgetTitle":"","customWidgetDisplayType":""}]]]></leftWidgets>
        <productCategory id="1131" key="c1e1cd8c-fbee-43bc-bc4b-9b507ce6a4cb" parentID="1124" level="4" creatorID="0" sortOrder="0" createDate="2017-07-25T10:42:10" updateDate="2017-07-25T10:42:10" nodeName="Laptops" urlName="laptops" path="-1,1094,1118,1124,1131" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[Laptops]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Weight
Producer
Price]]></propertiesList>
        </productCategory>
        <productCategory id="1132" key="5e93b6f5-2628-452c-9826-9a8427e530b5" parentID="1124" level="4" creatorID="0" sortOrder="1" createDate="2017-07-25T10:42:49" updateDate="2017-07-25T10:42:49" nodeName="PCs" urlName="pcs" path="-1,1094,1118,1124,1132" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[PCs]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Monitor size
Producer
Price]]></propertiesList>
        </productCategory>
        <productCategory id="1133" key="aa9f475f-1dcb-4de3-8a82-030bca7bbcc7" parentID="1124" level="4" creatorID="0" sortOrder="2" createDate="2017-07-25T10:43:34" updateDate="2017-07-25T10:43:34" nodeName="Tablets" urlName="tablets" path="-1,1094,1118,1124,1133" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
          <headerPicture><![CDATA[umb://media/c16012f0fd7e4528a28bb1e767689d38]]></headerPicture>
          <pageTitle><![CDATA[Tablets]]></pageTitle>
          <leftPartialViewName><![CDATA[RootCategories]]></leftPartialViewName>
          <propertiesList><![CDATA[Weight
Producer
Price]]></propertiesList>
        </productCategory>
      </intermediateCategory>
      <productCategory id="1146" key="7ff5c837-acf7-42ad-a7df-4235e047ca59" parentID="1118" level="3" creatorID="0" sortOrder="3" createDate="2017-07-29T11:16:26" updateDate="2017-08-07T16:33:10" nodeName="Crockery" urlName="crockery" path="-1,1094,1118,1146" isDoc="" nodeType="1090" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1089" nodeTypeAlias="productCategory">
        <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
        <pageTitle><![CDATA[Crockery]]></pageTitle>
        <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Category properties","customPropertyAlias":"","widgetTitle":""}]]]></leftWidgets>
        <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Color"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      },
      {
        "value": "Black"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": "Arcopal"
      },
      {
        "value": "Lora"
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Country"
      },
      {
        "value": "Ukraine"
      },
      {
        "value": "USA"
      },
      {
        "value": "UK"
      },
      {
        "value": "Australia"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": "Porcelain"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
        <product id="1150" key="ba63b556-6313-4e62-92b5-938ad9f3f618" parentID="1146" level="4" creatorID="0" sortOrder="0" createDate="2017-07-29T11:25:11" updateDate="2017-08-07T16:52:42" nodeName="Luminarc Plates" urlName="luminarc-plates" path="-1,1094,1118,1146,1150" isDoc="" nodeType="1102" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1101" nodeTypeAlias="product">
          <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "umb://media/578e3a9ea05d4ae28b11455b8768651d",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768
    }
  ]
}]]></headerPicture>
          <pageTitle><![CDATA[Luminarc Plates]]></pageTitle>
          <leftWidgets><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"description","widgetTitle":"Description","customWidgetDisplayType":"Text area"},{"name":"Item 2","ncContentTypeAlias":"widget","type":"Custom property","customPropertyAlias":"discount","widgetTitle":"Discount (%)","customWidgetDisplayType":"Single string"}]]]></leftWidgets>
          <propertiesList><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesList>
          <price>100</price>
          <inStock>15</inStock>
          <discount>0</discount>
          <propertiesValues><![CDATA[{
  "useFirstRowAsHeader": false,
  "useLastRowAsFooter": false,
  "tableStyle": null,
  "columnStylesSelected": [
    null,
    null,
    null,
    null
  ],
  "rowStylesSelected": [
    null,
    null,
    null
  ],
  "cells": [
    [
      {
        "value": "Producer"
      },
      {
        "value": "Luminarc"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ],
    [
      {
        "value": "Color"
      },
      {
        "value": "Black"
      },
      {
        "value": "White"
      },
      {
        "value": "Grey"
      }
    ],
    [
      {
        "value": "Material"
      },
      {
        "value": "Ceramics"
      },
      {
        "value": ""
      },
      {
        "value": ""
      }
    ]
  ]
}]]></propertiesValues>
          <description><![CDATA[Very high-quality plates produced by a well-known brand, which can bring warmth and comfort to your routine household affairs]]></description>
          <carousel><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"carouselItem","image":"umb://media/00899ffe7b214128b8a5152b1c3c3388","title":"","link":""},{"name":"Item 2","ncContentTypeAlias":"carouselItem","image":"umb://media/f63f4a41576e435db39b0b0c45e0d81a","title":"","link":""},{"name":"Item 3","ncContentTypeAlias":"carouselItem","image":"umb://media/78c9d42cf2744005897f625c6bbdceb1","title":"","link":""},{"name":"Broccoli","ncContentTypeAlias":"carouselItem","image":"umb://media/ef429ae7c48543928452615045b6c5eb","title":"Broccoli","link":""}]]]></carousel>
        </product>
      </productCategory>
    </intermediateCategory>
  </categories>
  <basket id="1154" key="5de49323-b92e-4273-b96d-94d39d091aa4" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-08-04T16:20:00" updateDate="2017-08-04T16:20:00" nodeName="Basket" urlName="basket" path="-1,1154" isDoc="" nodeType="1153" creatorName="Yura Stetskyi" writerName="Yura Stetskyi" writerID="0" template="1152" nodeTypeAlias="basket">
    <headerPicture><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1019/nature.jpg",
  "crops": [
    {
      "alias": "banner",
      "height": 300,
      "width": 768,
      "coordinates": {
        "x1": 1.2631870857957334E-16,
        "y1": 0.03565599497802887,
        "x2": 0,
        "y2": 0.33757846829880739
      }
    }
  ]
}]]></headerPicture>
    <pageTitle><![CDATA[Basket]]></pageTitle>
  </basket>
</root>