@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.IntermediateCategory>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout39Cols.cshtml";
}

@{ var selection = Model.Content.Children.Where(x => x.IsVisible()).ToList(); }

@if (selection.Any())
{
 @Html.Partial("CategoryList", selection)
}
else{
<p style="text-align: center">No categories were found</p>
}