@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Layout93Cols>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@{
var rightOnes = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rightWidgets") ?? new List<IPublishedContent>();
}

<div class="col-sm-9">
    @RenderBody()
</div>
<div class="col-sm-3">
    @foreach(var widget in rightOnes){
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("WidgetView", new Tuple<IPublishedContent, IPublishedContent>(widget, Model.Content))
        </div>
    </div>
    }
</div>

@section scripts{
@RenderSection("otherScripts", required: false)
}