@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Layout93Cols>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="col-xs-9">
    @RenderBody()
</div>
<div class="col-xs-3">
    @Html.Partial(Model.Content.GetPropertyValue<string>("rightPartialViewName"))
</div>

@section scripts{
@RenderSection("otherScripts", required: false)
}