@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Layout39Cols>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="row">
    <div class="col-xs-3">
        @Html.Partial(Model.Content.GetPropertyValue<string>("leftPartialViewName"))
    </div>
    <div class="col-xs-9">
        @RenderBody()
    </div>
</div>

@section scripts{
@RenderSection("otherScripts", required: false)
}