@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductCategory>
    @using Newtonsoft.Json;
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "Layout39Cols.cshtml";
    }

    @{ var selection = Model.Content.Children.Where(x => x.IsVisible()).Select(y => y.Id); }

    <input type="text" class="form-control" placeholder="Product name" name="product_name" />
    <br />
    <div id="product_container">
        @if (selection.Any())
        {
        @Html.Partial("ProductList", selection)
        }
        else{
        <p>No products were found.</p>
        }
    </div>

    @section otherScripts{
    <script type="text/javascript">
            var selectedItems = {
            CategoryId: '@CurrentPage.Id',
            Name: "",
            Properties: []
        };

        var demo = '@Html.Raw(JsonConvert.SerializeObject(Model.Content.Children.Where(x => x.IsVisible()).Select(x => new{Id = x.Id, Name = x.Name, Url = x.Url})))';
        var products = JSON.parse(demo);
    </script>
    <script type="text/javascript" src="/scripts/productCategory.js">
    </script>
    }
