@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Product>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout39Cols.cshtml";
}

@*
@{
var items =
Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("carousel");

foreach(var item in items) {
<h3>@item.GetPropertyValue("title")</h3>
var image = item.GetPropertyValue<IPublishedContent>("image");
            <img src="@image.Url"/>
}
}
*@

@Html.Partial("HorizontalDottedCarousel", Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("carousel"))

<h2>Properties</h2>

@Html.Partial("ProductPropertyList", Model.Content.GetPropertyValue<TableEditor.Models.TableEditorModel>("propertiesValues"))
